.achievements-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 4px;
  background-color: #d2dbd8;
  animation: colorAnimation 5s linear infinite;
}

@keyframes colorAnimation {
  0% {
    background-color: #d2dbd8;
  }
  20% {
    background-color: #f4d160;
  }
  40% {
    background-color: #e6838d;
  }
  60%{
    background-color: #bed1da;
  }
  80%{
    background-color: rgb(209, 177, 209);
  }
  100%{
    background-color: rgb(179, 197, 197);
  }

}
.heading {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}

.total-sales {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.comment {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.achievement-section {
  margin-top: 5px;
}

.achievement {
  color: coral;
  font-size: 22px;
  margin-bottom: 5px;
}

.description {
  font-size: 20px;
  margin-bottom: 10px;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 5px;
}
