.sidebar{
    /* display:flex; */
    /* float: inline-start; */
    /* flex-direction: column; */
    width: fit-content;
    /* position: sticky; */
    /* box-sizing: border-box; */
    border-right: 1px dotted blue;
    /* justify-content: center; */
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    margin-left: 0;
    
}
.sidebar ul li{
    
    cursor: pointer;
    gap: 10px;
      
}
.lnk{
    text-decoration: none;
    font-size: 25px;
    color:#5a9ae7;
    font-weight: bolder;
}
.Gcon{
    background-color: #455c06 ;
    font-size: 20px;
    margin-left: 0;
    border-radius: 10px;
}