.sidebar{
    display:inline-block;
    /* flex-direction: column; */
    width: fit-content;
    position: sticky;
    /* box-sizing: border-box; */
    border-right: 1px dotted blue;
    height: 100vh;
    justify-content: center;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    
}
.sidebar ul li{
    border: 1px solid yellow;
    padding: 5px;
    text-decoration: none;
    
}
.lnk{
    text-decoration: none;
}