.layout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;

    }
.content{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items:normal;
    padding:10px;
    margin-top: 40px;
}
.nav{
    position: fixed;
    width: 100%;
    }
.side{
    margin: 0;
    position: sticky;
}